.descricao {
    margin-bottom: 5.625rem;
}

.descricao__texto {
    padding-bottom: .5rem;
}

.descricao__botao {
    background: none;

    border: none;

    font-weight: 400;
    font-size: var(--tamanho-corpo);
    font-family: var(--familia-corpo);
    color: var(--amarelo);

    padding: 0;
}